@font-face {
  font-family: "ABCGravity";
  font-style: normal;
  font-weight: 400;
  src: url("./ABCGravity-SemiCondensed-Trial.woff2");
  font-display: block;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  font-family: "ABCGravity", serif;
}

svg {
  margin: auto;
}
